#contentForm
  =form_with model: @content, local: true do |f|
    .top
      .top__left
        .top__left--topImage
          %p トップ画像
          = f.file_field :topImage
        .top__left--date
          %p トップテキスト
          = f.date_field :date 
        .top__left--topText
          %p トップテキスト
          = f.text_area :topText ,placeholder:"トップテキスト"
      .top__right
        .top__right--name
          %p アプリケーション名
          = f.text_field :name ,placeholder:"アプリケーション名"
        .top__right--catchcopy
          %p キャッチコピー
          = f.text_field :catchcopy ,placeholder:"キャッチコピー"
        .top__right--link
          %p web-link
          = f.url_field :link,placeholder:"http:..."
        .top__right--git
          %p Git-hub
          = f.url_field :git,placeholder:"http:..."
        .top__right--category
          %p カテゴリー選択
          = f.collection_check_boxes :category_ids, Category.all, :id, :name
    -# ================================================================================================
    -if @content.persisted?
      .infomation
        .infomation__previewBox
          -@content.infomations.each do |info|
            = image_tag(info.image.to_s,class:"infomation__previewBox--display")
        .infomation__inputBox
          = f.fields_for :infomations do |i|
            .infomation__inputBox--form
              .infomation__inputBox--image
                = i.file_field :image
              .infomation__inputBox--heading
                = i.text_field :heading
              .infomation__inputBox--text
                = i.text_area :text
      .submit
        = f.submit
      =link_to("アプリ削除",content_path(params[:id]),method: :delete, data: { confirm: '本当に削除しますか?' } )
    -else
      .infomation
        .infomation__previewBox
          .infomation__previewBox--display
          .infomation__previewBox--display
          .infomation__previewBox--display
          .infomation__previewBox--display
        .infomation__inputBox
          = f.fields_for :infomations do |i|
            .infomation__inputBox--form
              .infomation__inputBox--image
                = i.file_field :image
              .infomation__inputBox--heading
                = i.text_field :heading,placeholder:"画像1"
              .infomation__inputBox--text
                = i.text_area :text,placeholder:"説明1"
          = f.fields_for :infomations do |i|
            .infomation__inputBox--form
              .infomation__inputBox--image
                = i.file_field :image
              .infomation__inputBox--heading
                = i.text_field :heading,placeholder:"画像2"
              .infomation__inputBox--text
                = i.text_area :text,placeholder:"説明2"
          = f.fields_for :infomations do |i|
            .infomation__inputBox--form
              .infomation__inputBox--image
                = i.file_field :image
              .infomation__inputBox--heading
                = i.text_field :heading,placeholder:"画像3"
              .infomation__inputBox--text
                = i.text_area :text,placeholder:"説明3"
          = f.fields_for :infomations do |i|
            .infomation__inputBox--form
              .infomation__inputBox--image
                = i.file_field :image
              .infomation__inputBox--heading
                = i.text_field :heading,placeholder:"画像4"
              .infomation__inputBox--text
                = i.text_area :text,placeholder:"説明4"
      .submit
        = f.submit