= render "/templates/header"
#index
  -# top================================================
  .top
    .top__text1
      %h1 I'M
      .underLine
    .top__text2
      %h1 KANATA
      .underLine
    .top__text3
      %h1 OKAYAMA
      .underLine
  -# profile================================================
  .profile
    .profile__hedding
      %h1 PROFILE
    = render "profile"
  -# skills================================================
  .skills
    .skills__hedding
      %h1 SKILLS
    = render "category"
  -# works================================================
  .works
    .works__hedding
      %h1 WORKS
    .works__main
      = render @contents
-# footer================================================
= render "/templates/menu"


