=form_with model: @content, local: true do |f|
  .top
    = f.label "名前"
    = f.text_field :name 
    = f.label "リンク"
    = f.text_field :link
    = f.label "トップテキスト"
    = f.text_area :text
    = f.label "トップイメージ"
    = f.file_field :image
  .category
    = f.label "カテゴリー"
    = f.collection_check_boxes :category_ids, Category.all, :id, :name
  .sub
    = f.fields_for :infomations do |i|
      = i.file_field :image
      = i.text_area :text
      = i.text_field :heading
  .submit
    = f.submit