#scroll
  = render "/templates/header"
  #show
    -# top================================================ 
    .top
      .top--appName
        = @content.name
    -# main================================================
    .main
      .main__heading
        .main__heading--left
          = @content.name
        .main__heading--right
          = link_to("Link",@content.link)
      .main__text
        = @content.text
      .main__contentsWrapper
        - @content.infomations.each do |info|
          = render partial: "infomation",locals: {info: info}
  -# footer================================================
  = render "/templates/footer"





