#scroll
  = render "/templates/header"
  #show
    -# top================================================ 
    .top
      .top--appName
        = @content.name
    -# main================================================
    .main
      .main__heading
        .main__heading--left
          = @content.name
        .main__heading--right
          = link_to("show App",@content.link)
      .main__text
        = @content.texts.first.text
      .main__contentsWrapper
        .main__contentsWrapper__content
          .main__contentsWrapper__content--imageHeading
            ログイン画面
          .main__contentsWrapper__content--image
          .main__contentsWrapper__content--textHeading
            ウィザード形式での新規登録
          .main__contentsWrapper__content--text
            ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
        .main__contentsWrapper__content
          .main__contentsWrapper__content--imageHeading
            ログイン画面
          .main__contentsWrapper__content--image
          .main__contentsWrapper__content--textHeading
            ウィザード形式での新規登録
          .main__contentsWrapper__content--text
            ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
        .main__contentsWrapper__content
          .main__contentsWrapper__content--imageHeading
            ログイン画面
          .main__contentsWrapper__content--image
          .main__contentsWrapper__content--textHeading
            ウィザード形式での新規登録
          .main__contentsWrapper__content--text
            ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
        .main__contentsWrapper__content
          .main__contentsWrapper__content--imageHeading
            ログイン画面
          .main__contentsWrapper__content--image
          .main__contentsWrapper__content--textHeading
            ウィザード形式での新規登録
          .main__contentsWrapper__content--text
            ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
  -# footer================================================
  = render "/templates/footer"





