#categoryForm
  = form_with model: @category, local: true do |f|
    .skill
      .skill--name
        %p スキル
        = f.text_field :name,placeholder:"スキル名"
      .skill--number
        %p 番号
        = f.number_field :number,placeholder:"半角数字"
      .skill--icon
        %p アイコン
        = f.text_field :icon, placeholder:"アイコンクラス"
      .skill--color
        %p カラー
        = f.color_field :color
    .submit
      = f.submit
    -if @category.persisted?
      =link_to(category_path(@category.id),method: :delete, class: "deleteBtn", data: { confirm:"本当に削除しますか?"}) do
        削除する